<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Demostrador OAuth: Máster de seguridad</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>


    <p th:text="|Hola, ${#authentication.principal.attributes['username']}! Bienvenido al Máster de Seguridad|" />

</body>

</html>

